@import '../../CONST.scss';

.RightMenu {
    display: flex;
    flex-direction: row;
    position: fixed;
    width: 230px; // 70px
    transform: translateX(calc(230px - 70px));
    height: calc(100vh - 50px);
    z-index: $z-index-right-menu;
    right: 0;
    top: 50px;
    background: $main-bg-color;
    border-top: 2px solid rgba(255,255,255,.5);
    color: #fff;
    transition: all .3s ease-in-out;

    &.expanded {
        width: 230px;
        transition: all .3s ease-in-out;
        transform: translateX(0px);


        .menu {
            width: 35px;

            li {
                width: 35px;
                height: 35px;
    
                span {
                    display: flex;                
                    justify-content: center;
                    align-items: center;
                    width: 35px;
                    height: 35px;
                    font-size: 30px;
                }
                .descr {
                    display: none;
                }
    
                &.active {
                    background: rgba(0,0,0,.2);
                } 
            }
    
        }

        .btnExit {
            margin-bottom: 10px;
    
            .exit {
                font-size: 30;
                color: #fff;
            }
            .descr {
                display: none;
            }
        }
    }

    .menu {
        display: flex;
        flex-direction: column;
        width: 70px;
        height: 100%;

        ul {
            list-style: none;
            display: flex;
            flex-direction: column;
            font-size: 12px;
            align-items: center;
            user-select: none;
            flex-grow: 1;
            margin: 0;
            padding: 0;
            padding-top: 10px;
    
            li {
                display: flex;
                flex-direction: column;
                align-items: center;
                cursor: pointer;
                list-style: none;
    
                span {
                    font-size: $icon-size;
                }
    
                .descr {
                    font-size: 12px;
                }
    
                
                &:active {
                    transform: scale(.9);
                }
            }
        }
    
    }

    
    .btnExit {
        display: flex;
        flex-direction: column;
        font-size: 12px;
        align-items: center;
        user-select: none;
        cursor: pointer;
        justify-self: end;
        margin-bottom: 15px;

        .exit {
            font-size: $icon-size;
        }

        
        &:active {
            transform: scale(.9);
        }
    }
}   