.leaflet-container {
    width: 100%;
    height: calc(100vh - 50px);

    .leaflet-div-icon-car {
      border: none;
      background: none;
      transition: all .3s linear;
      z-index: 50000 !important;
    }

    .leaflet-control-layers {
      width: 34px;
      height: 34px;

      a {
        width: 30px;
        height: 30px;
      }

      &:hover {
        width: 100%;    
        height: 100%;
      }
    }
    .leaflet-control-attribution{
      display: none;
    }
}
