.leaflet-container {
    width: 100%;
    height: calc(100vh - 50px);

    .leaflet-div-icon-car {
      border: none;
      background: none;
      transition: all .3s linear;
      z-index: 500 !important;
    }

    
    .LayersControl{
      position: absolute;
      top: 100px;
      background: #fff;
      z-index: 1400 !important;
      cursor: pointer;
    }
}
